name: Simple Pytest CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest selenium webdriver-manager pyyaml allure-pytest

      - name: Run tests (headless, skip unstable files)
        working-directory: Ecommerce_automation
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest -v -s --headless tests \
            --ignore=tests/test_addtocart.py \
            --ignore=tests/test_homepage.py \
            --ignore=tests/test_allclicks.py
